<!doctype html>
<html>
    <head>
        <title>Page de connexion</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <form method="post" action="{{ url_for('login') }}">
            <label>Username</label>
            <input type="text" name="username" required>
            <br>
            <label>Password</label>
            <input type="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>

